<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Auth0:Domain" value="{DOMAIN}" />
    <add key="Auth0:ClientId" value="{CLIENT_ID}" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>